<h3>View Employee Details</h3>
<div>
  <div>
    <label> <b> User Name: </b></label> {{ employee.userName }}
  </div>
  <div>
    <label> <b> Password: </b></label> {{ employee.password }}
  </div>
  <div>
    <label> <b> Email Id: </b></label> {{ employee.emailId }}
  </div>
  <div>
    <label> <b> Phone Number: </b></label> {{ employee.phoneNumber }}
  </div>
  <div>
    <label> <b> Address: </b></label> {{ employee.address }}
  </div>
  <div>
    <label> <b> Emoji: </b></label> {{ employee.emoji }}
  </div>
</div>
